* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;

}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 20px;
    align-items: center;
}

.navbar_s1__title {
    color: #a778f3;
}

.navbar_s2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar_s2 input {
    border: none;
    width: 100%;
    font-size: 17px;
}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    gap: 20px;
}

.catagories {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.catagories p {
    background-color: #a778f3;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.sale-image img {
    width: 100%;
}
.course-card
{
    width:400px
}
.course-card img
{
    width:100%;
    height: 60%;
}
.Recommed__container
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

}
.Recommed
{
    padding:10px;
}

.topic__container
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topic__container p
{
    padding: 10px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular
{
    margin-top: 10px;
}

.Recommed__container
{
    flex-wrap: wrap;


}

.footer__one
{
    display: flex;
    gap:15px;

}
.footer__two
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.footer
{
    padding: 30px;
    color:white;
    background-color:black;
}
.footer__one  p
{
    margin:20px;
}