* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;

}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 20px;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.navbar_s1__title {
    color: #a778f3;
}

.navbar_s2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar_s2 input {
    border: none;
    width: 100%;
    font-size: 17px;
    background-color: transparent;
}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    gap: 20px;
}
.navbar_s4
{
    display: none;
}
/* mylearing popup*/
.mylearning {
    cursor: pointer;
    position: relative;
}

.mylearning__popup {
    position: absolute;
    top: 150%;
    border: 1px solid black;
    right: 5%;
    background-color: white;
    display: none;
    width: 210px;
    padding: 10px;

}

.mylearning:hover .mylearning__popup {
    display: block;
}

.catagories {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.catagories p {
    background-color: #a778f3;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: 1px solid #a778f3;
    transition: 0.5s;
    cursor: pointer;
}


.catagories p:hover {
    border: 1px solid black;
    transform: scale(110%);
    transition: 0.5s;
    color: #a778f3;
    background-color: white;

}

.sale-image img {
    width: 100%;
}

.sale-image {
    position: relative;
}

.sale-image__offer {
    width: 20%;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes zoom {
    0% {
        transform: scale(0%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}


.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img {
    width: 100%;
    height: 60%;
}

.Recommed__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;

}

.Recommed {
    padding: 10px;
}

.topic__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topic__container p {
    padding: 10px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular {
    margin-top: 10px;
}

.Recommed__container {
    flex-wrap: wrap;


}

.footer__one {
    display: flex;
    gap: 15px;

}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer {
    padding: 30px;
    color: white;
    background-color: black;
}

.footer__one p {
    margin: 20px;
}

/* Media queries*/
@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course-card {
        flex-basis: 40%;
    }

    .catagories {
        display: none;
    }
    .navbar_s2,.navbar_s3
    {
        display: none;
    }
    .navbar_s4
    {
        display: block  ;
    }
}